.screenboard {
  width: 100%;
  background: linear-gradient(to bottom, #0d0062, #366bff);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 0;
  width: 50%;
  max-width: 800px;
  background-color: #1e4f8a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 255);
}

h1 {
  background-color: #0c306c;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #c4f5ff;
  border-bottom: #c4f5ff solid 2px;
  margin: 0;
  border-radius: 8px 8px 0px 0px;
}

.wrapper form {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #c4f5ff;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #c4f5ff;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: border-color 0.2s;
  background-color: #0c306c;
  color: #c4f5ff;
}

.form-control:focus {
  border-color: #366bff;
}

.btn {
  display: inline-block;
  background-color: rgb(253, 42, 42, 1);
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: rgb(206, 23, 23);
}

.select-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #0c306c;
  color: #c4f5ff;
}

.alert-danger {
  color: #d9534f;
}
