<div class="page">
  <div class="navbar">
    <div class="logo"><img src="../../../assets/images/logo_copa_blanco.png" /></div>
    <div class="buttons-container">
      <button class="section" routerLink="/predictions/{{studentId}}">PREDICCIONES</button>
      <button class="section" routerLink="/results/{{studentId}}">RESULTADOS</button>
      <button class="section" routerLink="/fixture/{{studentId}}">FIXTURE</button>
      <button class="section" routerLink="/ranking/{{studentId}}">RANKING</button>
      <button class="section settingsContainer"><img src="../../../../assets/images/settings.png"
          class="settings"></button>
    </div>
  </div>
</div>