<div class="page">
  <div class="navbar">
    <div class="logo"><img src="../../../assets/images/logo_copa_blanco.png" /></div>
    <div class="buttons-container">
      <button class="section" routerLink="/predictions">PREDICCIONES</button>
      <button class="section" routerLink="/results">RESULTADOS</button>
      <button class="section" routerLink="/fixture/{id}">FIXTURE</button>
      <button class="section" routerLink="/ranking/{id}">RANKING</button>
      <button class="section settingsContainer"><img src="../../../../assets/images/settings.png"
          class="settings"></button>
    </div>
  </div>
</div>