/* Rectangle 18 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background: #184098;
  box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.25);
}

/* logo_copa_blanco 2 */
.logo {
  position: absolute;
  width: 321px;
  height: 84.2px;
  left: 24px;
  top: 11.4px;
}

img {
    width: 150px;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    height: 100%;
}

/* FIXTURE */
.section {
    position: relative;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #184098;

    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
}
.section:hover{
    background-color: #2657d2b5;
}

