/* Mobile-first */

.screenboard {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

picture {
  width: 60%;
  height: auto;
}

img {
  width: 100%;
}

.box {
  position: relative;
  width: 380px;
  height: 520px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background: #000b72;
  border-radius: 20px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 140%;
  background: #ff2f2f;
  animation: rotate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 140%;
  background: #0063dd;
  animation: rotate 6s linear infinite;
  animation-delay: -1.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box form {
  padding: 50px 40px;
  inset: 4px;
  z-index: 3;
  justify-content: space-between;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #000b72;
  width: 370px;
  height: 510px;
  border-radius: 16px;
}

.box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box form .inputField {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.box form .inputField input,
.box form .inputField select {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #000b72;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.box form .inputField span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  color: aliceblue;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputField input:valid ~ span,
.box form .inputField input:focus ~ span,
.box form .inputField select:valid ~ span,
.box form .inputField select:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-30px);
}

.box form .inputField .blank {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputField input:valid ~ .blank,
.box form .inputField input:focus ~ .blank,
.box form .inputField select:valid ~ .blank,
.box form .inputField select:focus ~ .blank {
  height: 44px;
  color: #fff;
}

.box form a {
  align-self: flex-end;
  color: aliceblue;
  margin-top: 6px;
}

.box form input[type="submit"] {
  width: 100px;
  background: #ff2f2f;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  color: white;
  cursor: pointer;
}

.box form input[type="submit"]:valid {
  opacity: 0.8;
}
.box form input[type="submit"]:hover {
  transform: translate(1px, 1px);
  background: #b52222;
}

.error-message {
  color: #ff2f2f;
  font-size: 0.75em;
  margin-top: 5px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.box form .inputField input:invalid ~ .error-message,
.box form .inputField select:invalid ~ .error-message {
  display: block;
}

.footballs {
  visibility: hidden;
  height: 0;
}

/* Laptop screen */
@media (min-width: 840px) {
  .screenboard {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  picture {
    width: 18%;
  }

  img {
    width: 100%;
  }

  .footballs {
    height: auto;
    visibility: visible;
  }
}
