<div class="screenboard">
  <img src="../../../assets/images/logo_copa_blanco.png" />
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #activityForm="ngForm" class="my-form">
      <h2>Sign In</h2>
      <div class="inputField">
        <select class="form-control field" id="type" [(ngModel)]="model.type" name="type" #type="ngModel" required>
          <option *ngFor="let type of userTypes" [value]="type">
            {{ type }}
          </option>
        </select>
        <span>User Type</span>
        <i></i>
        <div [hidden]="!falseType" class="alert alert-danger sin-cuenta">
          Missing value for 'User Type'.
        </div>
      </div>

      <div class="inputField">
        <input type="text" class="form-control field" name="id" id="id" [(ngModel)]="model.id" #id="ngModel" required />
        <span>Id</span>
        <i></i>
      </div>
      <div [hidden]="!falseId" class="alert alert-danger sin-cuenta">
        Missing value for 'Id'.
      </div>
      <div class="inputField">
        <input type="password" class="form-control field" name="pass" id="password" [(ngModel)]="model.password"
          #password="ngModel" />
        <span>Password</span>
        <i></i>
        <div [hidden]="!falsePass" class="alert alert-danger sin-cuenta">
          Missing value for 'Password'.
        </div>
      </div>
      <div class="links">
        <a href="/register">Sign Up</a>
      </div>
      <input type="submit" value="Login" (click)="login()">
    </form>
  </div>
</div>