<div class="screenboard">
  <picture>
    <source media="(min-width:840px)" srcset="../../../../assets/images/logo-vertical.png">
    <img src="../../../../assets/images/logo_copa_blanco.png" alt="logo" />
  </picture>
  <div class="box">
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <h2>Register</h2>
      <div class="fields-wrapper">
        <div class="inputField">
          <input type="text" [(ngModel)]="model.id" name="id" #id="ngModel" required />
          <span>Id</span>
          <i class="blank"></i>
          <div id="idError" class="error-message" *ngIf="id.invalid && id.touched">Please enter your ID.</div>
        </div>
        <div class="inputField">
          <input type="text" [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel" required />
          <span>First Name</span>
          <i class="blank"></i>
          <div id="firstNameError" class="error-message" *ngIf="firstName.invalid && firstName.touched">Please enter
            your first name.</div>
        </div>
        <div class="inputField">
          <input type="text" [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel" required />
          <span>Last Name</span>
          <i class="blank"></i>
          <div id="lastNameError" class="error-message" *ngIf="lastName.invalid && lastName.touched">Please enter your
            last name.</div>
        </div>
        <div class="inputField">
          <input type="email" [(ngModel)]="model.email" name="email" #email="ngModel" required />
          <span>Mail Address</span>
          <i class="blank"></i>
          <div id="emailError" class="error-message" *ngIf="email.invalid && email.touched">Please enter your mail
            address.</div>
        </div>
        <div class="inputField">
          <select [(ngModel)]="model.gender" name="gender" #gender="ngModel" required aria-describedby="genderError">
            <option value="" disabled selected></option>
            <option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </option>
          </select>
          <span>Gender</span>
          <i class="blank"></i>
          <div id="genderError" class="error-message" *ngIf="gender.invalid && gender.touched">Please select a gender.
          </div>
        </div>
        <div class="inputField">
          <select [(ngModel)]="model.career" name="career" #career="ngModel" required aria-describedby="careerError">
            <option value="" disabled selected></option>
            <option *ngFor="let career of careers" [value]="career">
              {{ career }}
            </option>
          </select>
          <span>Career</span>
          <i class="blank"></i>
          <div id="careerError" class="error-message" *ngIf="career.invalid && career.touched">Please select a career.
          </div>
        </div>
        <div class="inputField">
          <input type="password" [(ngModel)]="model.password" name="register_password" #register_password="ngModel"
            required minlength="1" />
          <span>Password</span>
          <i class="blank"></i>
          <div id="register_passwordError" class="error-message"
            *ngIf="register_password.invalid && register_password.touched">Please enter your
            password.</div>
        </div>
      </div>
      <input type="submit" value="Register" [disabled]="registerForm.invalid">
    </form>
  </div>
  <picture class="footballs">
    <img src="../../../assets/images/footballs.png" alt="logo" />
  </picture>
</div>